.phase {
    position: relative;

    &:first-child {
        margin-left: 8px;
    }

    background-color: $trelloGrey;
    color: #172b4d;
    border-radius: 3px;
    max-height: 100%;
    white-space: normal;
    min-width: 272px;
    max-width: 272px;
    margin: 0 4px;
    padding: 8px 0;
    align-self: flex-start;

    .phase-header {
        padding: 4px;
        margin: 0 4px;

        .phase-title {
            font-family: open-sans, roboto-normal;
            font-size: rem(14px);
            cursor: pointer;
            padding: 0 4px;
        }

        form {
            margin: 0 4px;

            input {
                @include trelloInput;
                padding: 4px 8px;
                height: rem(28px);
            }
        }

    }

    .phase-menu {
        z-index: 1;
        position: absolute;
        width: 280px;
        background-color: #fff;
        border-radius: 3px;
        padding: 12px;
        box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.5);

        .menu-header {
            position: relative;
            height: 40px;
            color: #5e6c84;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            margin-bottom: 8px;

            h5 {
                text-align: center;
            }

            button {
                position: absolute;
                right: 0;
                border: none;
                background-color: inherit;
            }
        }

        .menu-btns {
            button {
                background-color: inherit;
                border: none;
                padding: 6px 12px;
                text-align: start;

                &:hover {
                    background-color: rgba(9, 30, 66, 0.04);
                }
            }

            .sort-options {
                button {
                    background-color: #e7e7e7;
                }

                button:hover {
                    background-color: #d1d1d1;
                }
            }
        }
    }

    .cards-list {
        min-height: 10px;
        max-height: 85vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 4px;
        margin: 0 4px;

        &::-webkit-scrollbar {
            background-color: #d6d7e0;
            width: 8px;
            border-radius: 25px;

            &-thumb {
                background-color: #bfc4ce;
                border-radius: 25px;
            }
        }
    }

    .add-card-btn {
        font-size: rem(14px);
        line-height: rem(20px);
        margin: 8px 8px 0;
        @include transRoundBorder;
        color: #5e6c84;
        background-color: inherit;
        font-weight: 200;

        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            color: rgb(23, 43, 77);
        }

        .add-icon {
            padding: 4px 0 5px 0;
        }
    }
}