.dashboard {
    // background-image: linear-gradient(to right top, #273d5d, #006c95, #009da2, #00ca78, #a8eb12);
    background-image: linear-gradient(to right top, #b16a61, #273d5d);
    padding-top: 6vh; //this is super important!

    transition: 0.3s;
    height: 100vh;
    overflow-x: hidden;

    h2 {
        padding-top: 10px;
    }

    .btn-back {
        position: fixed;
        background-color: #0d5d83;
        top: 75px;
        right: 30px;
        padding: 10px;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }

    .chart-cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
        grid-auto-rows: 1fr;
        max-width: 1000px;
        gap: 36px;
        margin: 0 auto;
        padding: 40px;

        @include for-mobile-layout {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        .chart {
            background-color: rgb(243, 243, 243);
            border-radius: 5px;

            .chart-stats {
                max-width: 600px;
                max-height: 300px;
            }
        }
    }
}