.login-page {
    height: 88vh;
}

.login-field {
    width: 35%;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: $small-black-shadow;

    h1 {
        text-align: center;
    }
    form * {
        margin-bottom: 5px;
    }
}